@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* LEGEND CSS  */

/* LEGEND BUTTON */
#legend {
    height: 97%;
    /* width: 260px; */
    /* background-color: white; */
    display: grid;
    /* border: solid green; */
    /* grid-template-columns: 10% 90%; */
    grid-template-columns: 32.5px 292.5px;
    transition: width 1s;
}

.legend-open {
    width: 325px;
}

.legend-close {
    width: 32.5px;
}

#legend-open-button img {
    width: 35%;
}

#legend-open-button {
    /* border: solid blue; */
    opacity: 0.9;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    font-size: 13px;
    /* word-spacing: 1px; */
    font-family: 'Baloo 2', cursive;
    cursor: pointer;
    /* height: 100px; */
    height: 70px;
    background-color: white;
}


#legend-content{
    /* overflow: auto; */
    background-color: white;
    /* border: solid red; */
    /* overflow: auto; */
    /* border-right-style: black solid 20px; */
}

#subs {
    /* border: solid yellow; */
    /* position: relative; */
    /* overflow: auto; */
}


.title {
    background-color: #5D4B3F;
    opacity: 0.95;
    /* display: flex; */
    /* border: solid blue; */
    /* justify-content: left;
    align-items: center; */
    /* border: solid blue; */
    /* flex-direction: row; */
    display: grid;
    height: 70px;
    grid-template-rows: 30px 40px;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* padding: 20px; */
    /* border: solid red; */
}

.title div {
    /* border: solid blue; */
}

#tracker p {
    /* border: solid green; */
    margin: 5px 0 0 15px;
    padding: 0;
    font-size: 22pt;
    color: white;
}

#earthranger-logo {
    /* border: solid pink; */
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

#earthranger-logo a {
    /* border: solid red; */
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: left; */
    align-items: flex-end;
    margin: 0 0 5px 15px;
}

#earthranger-logo img {
    width: 90px;
    /* border: solid black; */
    opacity: 0.5;
}


#animal-color {
    /*border-right: solid grey 1px;*/
    display: none;
    width: 55%;
}

/* ANIMAL LEGEND CONTENT */
.animal-legend-content {
    /* border: solid green; */
    width: 100%;
    height: 70px;
    /*display: grid;
    grid-template-columns: 40.9px 131.6px 120px;*/
    display: flex;
    justify-content: space-between;
}

#animal-img {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#animal-bullet {
    font-size: 28px;
}

#animal-name {
    /* border: solid; */
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: larger;
    overflow-wrap: normal;
    /*padding: 10px;*/
}

.animal-name-bullet {
    width: 150px;
}

.fit-content {
    width: fit-content;
}

#track-buttons {
    width: 70px;
    display: flex;
    padding: 10px;
}

#animal-legend-content img {
    /* border: solid; */
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 7px;
    margin: auto;
}

/* POP-UP STYLING */
#pop-up {
    /* height: 300px; */
    width: 200px;
    overflow: auto;
}

#pop-up-header {
    font-size: 15px;
}

#pop-up-header h3 {
    margin: 0 0 5px 0;
}

.pop-up-image {
    width: 100%;
    height: 150px;
}

#pop-up-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mapboxgl-popup-tip {
    /* background: green; */
  }


  .mapboxgl-popup {
    /* border: solid orange; */
  }

.mapboxgl-popup-content {
    /*background: red;*/
    /* border: solid red; */
    /* margin: 0;
    padding: 0; */
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content div {
    /* padding: 0; */
    /* border: solid purple; */
    /* margin: 0px; */
}

.mapboxgl-popup-content-wrapper {
    /* border: solid green; */
    /* padding: 100px; */
    /* margin: 0; */
}

/* .popup-track {  */
    /* border: solid; */
    /* margin: auto;
}

#pop-up-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
} */
/*
#pop-up-info p {
    display: flex;
    margin: 2px;
    text-align: center;
}

#pop-up-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pop-up-image p {
    margin: 3px 0 0 0;
    text-align: center;
} */

#name-container {
    padding: 15px;
}

/* #pop-up-url {
    border:solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up-url p {

} */

#subject-div {
    border-bottom: solid 1pt rgba(0,0,0,.15);
}

#story {
    color: orangered;
    background-color: white;
    /* border: solid 1pt rgb(150, 149, 149); */
    padding: 5px;
    /*margin-left: 1px;*/
    border-radius: 7px;
}

.hover {
    cursor: pointer !important;
}

.default {
    cursor: default;
}

#pop-up > p {
    margin: 1pt;
}

#date {
    font-size: 8pt;
    width: 40%;
}

#arrow {
    transform: rotate(180deg);
}

#return {
    /* border: solid; */
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    background-color: whitesmoke;
    border-bottom: solid dimgray 0.5px;
}

.sub-image {
    /* border: solid red; */
    width: 100%;
}

#sub-content {
    /* border: solid; */
    /* background-color: red; */
    /* overflow: scroll; */
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#animal-name-p {
    /*margin: auto;*/
    margin-top: 25px;
    font-size: 15px;
    color: black;
}

#ul-list {
    margin: none;
}

#help-button {
    /*position: fixed;
    top: 50;
    /*bottom: 500;
    left: 50;
    margin: 50px;
    border: solid 5px red;
    background-color: red;*/
    width: 12px;
}

#tips-container {
    position: absolute;
    z-index: 1;
    top: 105px;
    left: 10px;
}

#tips-button-container {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8.5px;
    background-color: white;
    border-radius: 3px;
    width: fit-content;
}

#tips {
    border-radius: 3px;
    width: 250px;
    background-color: white;
    margin-top: 15px;
}

#tips h2 {
    /*padding-top: 10px;*/
    padding-left: 10px;
}

#tips ul {
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

#close-icon {
    width: 12px;
    height: 12px;
    padding: 10px;
    opacity: 90%;
    cursor: pointer;
}

#tips div {
    display: flex;
    justify-content: space-between;
}

.mapboxgl-popup-close-button {
    display: none;
}
