@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* LEGEND CSS  */

/* LEGEND BUTTON */
#legend {
    height: 100%;
    width: 260px;
    background-color: white;
    display: grid;
    grid-template-columns: 26px 234px;
    transition: width 1s;
}

#legend-open-button {
    /* border: solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 15px;
    word-spacing: 700px;
    font-family: 'Baloo 2', cursive;
    cursor: pointer;
}

#legend-content{
    /* border: solid purple; */
    overflow: auto;
    /* border-right-style: black solid 20px; */
}

#animal-color {
    background-color: pink;
    width: 55%;
}

/* ANIMAL LEGEND CONTENT */
#animal-legend-content {
    /* border: solid green; */
    width: 100%;
    height: 70px;

    display: grid;
    grid-template-columns: 30px 95px 90px;
}

#track-buttons {
    /* border: solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#animal-img {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#animal-name {
    /* border: solid; */
    display: flex;
    justify-content: left;
    align-items: center;
    /*padding: 10px;*/
}

#track-buttons {
    /* border: solid; */
    /* width: 100%; */
    width: 70px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: 10px;
}

#track-buttons img {
    /* border: solid; */
    cursor: pointer;
    padding: 7px;
}

/*#title {
    background-color: royalblue;
}*/

/* POP-UP STYLING */
#pop-up {
    /* height: 300px; */
    width: 200px;
    overflow: auto;
}

#pop-up-header {
    font-size: 15px;
}

#pop-up-header h3 {
    margin: 0 0 5px 0;
}

.pop-up-image {
    width: 100%;
    height: 150px;
}

#pop-up-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mapboxgl-popup-tip {
    /* background: green; */
  }


  .mapboxgl-popup {
    /* border: solid orange; */
  }

.mapboxgl-popup-content {
    background: red;
    /* border: solid red; */
    margin: 0;
    padding: 0;
}

.mapboxgl-popup-close-button {
    /* border: none; */
    /* display: none; */
}

.mapboxgl-popup-content div {
    padding: 0px;
    /* border: solid purple; */
    margin: 0px;
}

.mapboxgl-popup-content-wrapper {
    /* border: solid yellow; */
    padding: 0;
    margin: 0;
}

/* .popup-track {  */
    /* border: solid; */
    /* margin: auto;
}

#pop-up-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
} */
/*
#pop-up-info p {
    display: flex;
    margin: 2px;
    text-align: center;
}

#pop-up-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pop-up-image p {
    margin: 3px 0 0 0;
    text-align: center;
} */

#name-container {
    padding: 15px;
}

/* #pop-up-url {
    border:solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up-url p {

} */

#subject-div {
    border-bottom: solid 1pt grey;
}

#story {
    color: orangered;
    background-color: white;
    border: solid 1pt rgb(150, 149, 149);
    padding: 5px;
    /*margin-left: 1px;*/
    border-radius: 7px;
}

.hover {
    cursor: pointer;
}

#pop-up > p {
    margin: 1pt;
}

#date {
    font-size: 8pt;
    width: 40%;
}

#arrow {
    transform: rotate(180deg);
}