.App {
  padding: 20px;
}

#map-container {
  position: relative;
  height: 100vh;
  padding: 0px;
  margin: -8px;
}

#earth-ranger-logo {
  /* Should this be fixed or not */
  height: 45px;
  position: absolute;
  padding: 10px 15px 10px 15px;
  top: 0;
  /* right: 0; */
  z-index: 1;
}

#earth-ranger-logo:hover {
  cursor: pointer;
}

#reset {
  z-index: 1;
  top: 90px;
  left: 10px;
  position: absolute;
  color: white;
}

#reset:hover { cursor: pointer; }

/* LEGEND CSS */
#legend {
  z-index: 1;
  /* top: 65px; */
  right: 0;
  position: absolute;
}

.name {
  height: 0px;
  /*padding-bottom: 10px;*/
  margin: 0px;
}

.namePopup {
  background-color: white;
  border-radius: 4px;
  /*box-shadow: none !important;*/
}

/*.leaflet-popup-tip {
  width: 0px;
  height: 0px;
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}*/