.App {
  padding: 20px;
}

#map-container {
  position: relative;
  height: 100vh;
}

#earth-ranger-logo {
  /* Should this be fixed or not */
  height: 45px;
  position: absolute;
  padding: 10px 15px 10px 15px;
  top: 0;
  right: 0;
  z-index: 1;
}

#earth-ranger-logo:hover {
  cursor: pointer;
}

/* LEGEND CSS */
#legend {
  z-index: 1;
  top: 65px;
  right: 0;
  position: absolute;
}




